.player {
    width: 300px;
    display: flex;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
        font-size: 32px;
        margin-left: 16px;
        color: orange;
    }

    background-color: #004f4f;

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        z-index: 3;
        filter: invert(1);
    }
}