<div class="start-screen">
        <img class="card top-left" src="assets/img/cards/ace_1.png" alt="Ace of Spades">
        <img class="card top-right" src="assets/img/cards/clubs_1.png" alt="Ace of Clubs">
        <img class="card bottom-left" src="assets/img/cards/diamonds_1.png" alt="Ace of Diamonds">
        <img class="card bottom-right" src="assets/img/cards/hearts_1.png" alt="Ace of Hearts">
    <div class="start-screen-title">
        <h1>RING OF FIRE</h1>
    </div>


    <div class="start-label-box">
        <img (click)="newGame()" src="assets/img/startlabel.png">
        <span class="start-label-text">Start Game</span>
    </div>
</div>